<nav>
  <ul>
    <li><a routerLink="/users">Regular Users</a></li>
    <li><a routerLink="/camunda-users">Camunda Users</a></li>
    <li><a routerLink="/post">Create User</a></li>
    <li><a routerLink="/upload">Upload File</a></li>
    <li><a routerLink="/files">Files</a></li>

    <li *ngIf="!authService.isLoggedIn()" style="margin-left: auto">
      <a routerLink="/login">Login</a>
    </li>

    <li *ngIf="authService.isLoggedIn()" style="margin-left: auto">
      <a>Welcome, {{ authService.getUsername() }}</a>
    </li>

    <li *ngIf="authService.isLoggedIn()">
      <a (click)="logout()" style="cursor: pointer">Logout</a>
    </li>
  </ul>
</nav>
